html {
    background: white;
    height: 100%;
    font-size: 14px;
}
a {
    text-decoration: none !important;
    outline: none;
}
body {
	margin: 0;     
    display: flex;
    flex-direction: column;
    height: 100%;
}

.fcc-sc-content {
	flex: 1 0 auto;
    background-color: #6761A8;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fcc-sc-header {
    box-sizing: content-box;
    text-align: center;
    text-transform: uppercase;
    height: 51px;
    overflow: hidden;
    position: relative;
    top: 0;
    width: 100%;
    color: #009DDC;
    background-color: #2A2D34;
    display: inline-block;
}

.fcc-sc-header .fcc-sc-title {
    font-weight: 900;
    padding: 1em;
    display: inline-block;
    
    text-align: center;
    
    font-family: Ubuntu, sans-serif; 
    
    font-size: 1.1em;
    
   


}
@media (min-width: 768px) {
    .fcc-sc-header .fcc-sc-title {
        font-size: 1.5em;
    }
    .fcc-sc-header {
        height: 62px;
    }
}

footer {
    text-align: center;
    background-color: #2A2D34;
    
}
footer .fcc-sc-element {
    display: inline-block;
    max-width: 160px;
    text-align: center;
}
footer .fcc-sc-container {
    display: inline-block;
    width: auto;
    text-align: center;
}
footer .fcc-sc-icon {
    transition: .4s;
    border-radius: 50%;
    border: 1px solid;
    border-color: #009B72;
    padding: 5px;
    margin: .5em;
    width: 36px;
    height: 36px;
    
}
footer .fcc-sc-icon:hover {
    border-color: #F26430;
    background-color: #F26430;
    fill: white;
}
footer .fcc-sc-a {
    color: #009B72;
    fill: #009B72;

    
}
footer .fcc-sc-a:hover {
    color: #F26430;
}

footer .fcc-sc-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 130px;
    font-size: .9em;
}

footer .fcc-sc-link {
    margin: 5px auto 5px;
}
.chart-wrapper {
    width: 80%; 
    padding-top: 40px;
}
#chart {
    width: 100%; 
    height: 400px;
    background-color: #2a2a2b;
}


#controls {
    width: 80%; 
    padding-top: 10px;
    margin-bottom: 20px;
}
.fcc-sc-card {
    width: calc(50% - 10px);
    background-color: #80899E;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif; 
    padding: 1em;
    border-radius: 4px;
    margin: 5px;
    display: inline-block;
    box-shadow: 3px 3px 19px 0px rgba(0,0,0,.5);
    position: relative;
    transition: opacity .4s ease;
}

.fade {
  opacity: 0;
}

@media (min-width: 768px) {
    
    .fcc-sc-card {
        width: calc(20% - 10px);
    }
}
.fcc-sc-card .fcc-sc-label {
    display: inline-block;
    width: 70%;
    
}
.fcc-sc-label .fcc-sc-symbol {
    font-size: 1em;
    font-weight: 900;
    text-overflow: ellipsis;
    overflow: hidden; 
}
.fcc-sc-label .fcc-sc-name {
    font-size: .9em;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; 
    color: rgba(0,0,0,.6);
}

.fcc-sc-card .fcc-sc-close:hover {
    color: rgba(0, 0, 0, 1); 
}

.fcc-sc-card .fcc-sc-close {
    color: rgba(0, 0, 0, 0.54); 
    cursor: pointer;
    transition: .4s;
    right: .5em;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    display: inline-block;
}

.fcc-sc-search-bar {
        
    background-color: #e9e9e9;
    padding: 1em;
    display: inline-block;
    max-width: 100%;
}

.fcc-sc-search-bar button {
    padding: 6px 10px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.fcc-sc-search-bar button:hover {
    background: #ccc;
}

.fcc-sc-search-bar input[type=text] {
    padding: 6px;
    max-width: 100%;
    box-sizing: border-box;
    font-size: 17px;
    border: none;
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden; 
}

.fcc-sc-search-bar form {

    box-sizing: border-box;
    max-width: 100%;
    display: inline-block;
}

.fcc-sc-search {
    margin-bottom: 10px;
    margin-left: 1px;
    max-width: 80%;
    display: inline-block;
}

#messageDialog #text {
    font-family: 'Roboto', sans-serif; 
    font-size: 1.2em;
    color: #F26430;
}

#messageDialog .modal-content{
    background-color: white;    
}

.modal-footer {
    justify-content: center;
    border: none;
}

.modal-body {
     text-align: center;
}